@model SupplierVM
<div class="row">
    <div class="col-xl-12 col-lg-12" id="maindiv">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Create Supplier</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <div class="row">
                        <div class="col-sm-4 m-b30">
                            <label class="form-label">Full Name</label>
                            <input type="text" class="form-control" id="txtfullname" asp-for="@Model.Name" required>
                        </div>
                        <div class="col-sm-4 m-b30">
                            <label class="form-label">MobileNo</label>
                            <input type="number" class="form-control" id="txtmobile" asp-for="@Model.MobileNo" required>
                        </div>
                        <div class="col-sm-4 m-b30">
                            <label class="form-label">Email (optional)</label>
                            <input type="email" class="form-control" id="txtemail" asp-for="@Model.EmailId" />
                        </div>
                        <div class="col-sm-4 m-b30">
                            <label class="form-label">ZipCode</label>
                            <input type="number" class="form-control" id="txtZipCode" asp-for="@Model.Pincode" onblur="getAreaByPincode()" required>
                        </div>
                        <div class="col-sm-4 m-b30">
                            <label class="form-label">Address</label>
                            <input type="text" class="form-control" id="txtAddress" asp-for="@Model.Address" required>
                        </div>
                        <div class="col-sm-4 m-b30">
                            <label class="form-label">State</label>
                            <select class="form-control" id="ddlState" asp-for="@Model.StateId" required>
                                <option value="">Please select</option>
                                @{
                                    foreach (var item in Model.State)
                                    {
                                                    <option value="@item.Id">@item.StateName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-sm-4 m-b30">
                            <label class="form-label">City</label>
                            <select class="form-control" id="ddlcity" asp-for="@Model.CityId" required>
                                <option value="">Please select</option>
                                @{
                                    foreach (var item in Model.City)
                                    {
                                                    <option value="@item.Id">@item.CityName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-sm-4 m-b30">
                            <label class="form-label">Tehsil</label>
                            <input type="text" class="form-control" id="txtTehsil" asp-for="@Model.Tahsil" required>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-primary" onclick="save('@Model.Id')">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script>
        var save = (id) => {
            if (!valiadteInputs()) {
                return false;
            }
            let obj = {
                Id:id,
                Name: $('#txtfullname').val(),
                MobileNo: $('#txtmobile').val(),
                EmailId: $('#txtemail').val(),
                CityId: $('#ddlcity').val(),
                StateId: $('#ddlState').val(),
                Pincode: $('#txtZipCode').val(),
                Tahsil: $('#txtTehsil').val(),
                Address: $('#txtAddress').val(),
            }
            $.post('/Supplier/SaveSupplier', obj).done((response) => {
                if (response.success) {
                    Swal.fire({
                        title: "Success",
                        text: response.message,
                        icon: "success"
                    });
                    $('input').val('');
                    $('select').val('');
                    window.location.href = '/supplier/list';
                }
                else{
                    Swal.fire({
                        title: "Failed!",
                        text: response.message,
                        icon: "error"
                    });
                }
            }).fail((xhr) => {
                console.log(xhr.responseText);
                Swal.fire({
                    title: "Failed!",
                    text: "Server Error.",
                    icon: "error"
                });
            });
        }
    </script>
}