@using MultiHospitalHarmony.Enum
@model CreateUserVM
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card d-none" id="divQualifications">
            <div class="card-header">
                <h4 class="card-title">Qualifications</h4>
                <button class="btn btn-primary btn-sm" onclick="qualificationsAdd()"><i class="fa fa-plus text-white" style="font-size: 13px; cursor: pointer;"></i> Add Record</button>
            </div>
            <div class="card-body">
                <div class="table-response">
                    <table class="table table-sm table-bordered" id="Qualifications">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Institution</th>
                                <th>CompletionYear</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text" class="form-control form-control-sm" /> </td>
                                <td><input type="text" class="form-control form-control-sm" /> </td>
                                <td><input type="text" class="form-control form-control-sm" /> </td>
                                <td>
                                    <i class="fa fa-trash-o text-danger delete" style="font-size: 24px; cursor: pointer;"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-12 col-lg-12" id="maindiv">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Create User</h4>
            </div>
            <div class="card-body">
                <div class="basic-form">
                    <div class="row">
                        <div class="col-sm-4 m-b30">
                            <label class="form-label">Role</label>
                            <select class="form-control" id="ddlrole" asp-for="@Model.RoleId" onchange="handleRole()" required>
                                <option value="">Please role</option>
                                @{
                                    foreach (var item in Model.ApplicationRole)
                                    {
                                                <option value="@item.Id">@item.Role.ToString().ToUpper()</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-sm-4 m-b30">
                            <label class="form-label">FullName</label>
                            <input type="text" class="form-control" id="txtfullname" asp-for="@Model.FullName" required>
                        </div>
                        <div class="col-sm-4 m-b30">
                            <label class="form-label">MobileNo</label>
                            <input type="number" class="form-control" id="txtmobile" asp-for="@Model.MobileNo" required>
                        </div>
                        <div class="col-sm-4 m-b30">
                            <label class="form-label">Email (optional)</label>
                            <input type="email" class="form-control" id="txtemail" asp-for="@Model.Email" />
                        </div>
                        <div class="col-sm-4 m-b30">
                            <label class="form-label">ZipCode</label>
                            <input type="number" class="form-control" id="txtZipCode" asp-for="@Model.ZipCode" onblur="getAreaByPincode()" required>
                        </div>
                        <div class="col-sm-4 m-b30">
                            <label class="form-label">Address</label>
                            <input type="text" class="form-control" id="txtAddress" asp-for="@Model.Address" required>
                        </div>
                        <div class="col-sm-4 m-b30">
                            <label class="form-label">State</label>
                            <select class="form-control" id="ddlState" asp-for="@Model.StateId" required>
                                <option value="">Please select</option>
                                @{
                                    foreach (var item in Model.State)
                                    {
                                                <option value="@item.Id">@item.StateName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-sm-4 m-b30">
                            <label class="form-label">City</label>
                            <select class="form-control" id="ddlcity" asp-for="@Model.CityId" required>
                                <option value="">Please select</option>
                                @{
                                    foreach (var item in Model.City)
                                    {
                                                <option value="@item.Id">@item.CityName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="col-sm-4 m-b30">
                            <label class="form-label">Tehsil</label>
                            <input type="text" class="form-control" id="txtTehsil" asp-for="@Model.Tehsil" required>
                        </div>
                        <div class="col-sm-4 hospital d-none" style="margin-top: 1.7rem !important;">
                            <div class="form-check form-control">
                                <input class="form-check-input" style="margin-left: 0rem;" type="checkbox" id="isdedicated" onchange="handleRequired()">
                                <label class="form-check-label" for="isdedicated">
                                    Is Dedicated
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-4 m-b30 doctor d-none">
                            <label class="form-label">Shift</label>
                            <select class="form-control doctor-field" id="ddlshift" asp-for="@Model.ShiftId">
                                <option value="0">Please select</option>
                                <option value="@MasterShift.Day">@MasterShift.Day</option>
                                <option value="@MasterShift.Night">@MasterShift.Night</option>
                            </select>
                        </div>
                        <div class="col-sm-4 m-b30 doctor d-none">
                            <label class="form-label">Time From</label>
                            <input type="time" class="form-control doctor-field" asp-for="@Model.TimeFrom">
                        </div>
                        <div class="col-sm-4 m-b30 doctor d-none">
                            <label class="form-label">Time To</label>
                            <input type="time" class="form-control doctor-field" asp-for="@Model.TimeTo">
                        </div>
                        <div class="col-sm-4 m-b30 hospital d-none">
                            <label class="form-label">Host Name</label>
                            <input type="text" class="form-control hospital-field" asp-for="@Model.HostName">
                        </div>
                        <div class="col-sm-4 m-b30 hospital d-none">
                            <label class="form-label">Logo</label>
                            <input type="file" class="form-control" asp-for="@Model.Logo">
                        </div>

                        <div class="col-sm-4 m-b30 hospital d-none">
                            <label class="form-label">Banner</label>
                            <input type="file" class="form-control" asp-for="@Model.Banner">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-primary" onclick="create('@Model.Id')">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts {
    <script>
        var create = (id) => {
            if (!valiadteInputs()) {
                return false;
            }
            var Qualifications = [];
            $('#Qualifications tbody tr').each(function () {
                let currentRow = $(this);
                let quaObj = {
                    Name: currentRow.find('td:eq(0) input').val(),
                    Institution: currentRow.find('td:eq(1) input').val(),
                    CompletionYear: currentRow.find('td:eq(2) input').val(),
                }
                Qualifications.push(quaObj);
            });
            let obj = {
                Id: id,
                RoleId: parseInt($('#ddlrole').val()),
                FullName: $('#txtfullname').val(),
                MobileNo: $('#txtmobile').val(),
                Email: $('#txtemail').val(),
                Address: $('#txtAddress').val(),
                Tehsil: $('#txtTehsil').val(),
                HostName: $('#HostName').val(),
                ShiftId: $('#ddlshift').val(),
                TimeFrom: $('#TimeFrom').val(),
                TimeTo: $('#TimeTo').val(),
                IsDedicated: $('#isdedicated').is(':checked'),
                CityId: parseInt($('#ddlcity').val()),
                StateId: parseInt($('#ddlState').val()),
                ZipCode: parseInt($('#txtZipCode').val()),
                Photo: '',
                Qualifications: JSON.stringify(Qualifications)
            };

            let formData = new FormData();
            formData.append('jsonData', JSON.stringify(obj));
            formData.append('Logo', $('#Logo').prop('files')[0]);
            formData.append('Banner', $('#Banner').prop('files')[0]);

            $.ajax({
                url: '/user/create',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    Swal.fire({
                        title: "Success",
                        text: response.message,
                        icon: "success"
                    });
                    if (response.success) {
                        $('input').val('');
                        $('select').val('');
                        window.location.href = '/user/userlist';
                    }
                },
                error: function (error) {
                    console.error(error.responseText);
                    Swal.fire({
                        title: "Failed!",
                        text: "Server Error.",
                        icon: "error"
                    });
                }
            });
        };
        var handleRole = () => {
            let roleId = $('#ddlrole').val();
            if (roleId == 6) {
                $('#divQualifications').removeClass('d-none');
                $('.doctor').removeClass('d-none');
                $('.hospital').addClass('d-none');
            }
            else if (roleId == 5) {
                $('.hospital').removeClass('d-none');
               
            }
            else {
                $('#divQualifications').addClass('d-none');
                $('.doctor').addClass('d-none');
                $('.hospital').addClass('d-none');
            }
        }
        var qualificationsAdd = () => {
            let _new = `
                                             <tr>
                                                                <td><input type="text" class="form-control form-control-sm" required /> </td>
                                                                <td><input type="text" class="form-control form-control-sm" required /> </td>
                                                                <td><input type="text" class="form-control form-control-sm" required /> </td>
                                                                                        <td><i class="fa fa-trash-o text-danger delete" style="font-size: 24px;
                            cursor: pointer;"></i></td>
                                                            </tr>
                                    `
            $('#Qualifications tbody').append(_new);
        }
        $(document).on('click', '.delete', function () {
            $(this).closest('tr').remove();
        });
        var handleRequired = ()=>{
            let _is = $('#isdedicated').is(':checked');
            if (_is) {
                $('input[type="file"]').prop('required', true);
                $('.hospital-field').prop('required', true);
            }
            else {
                $('input[type="file"]').prop('required', false);
                $('.hospital-field').prop('required', false);
            }
        }
    </script>
}