@using MultiHospitalHarmony.Enum
@using MultiHospitalHarmony.Extentions
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card">
            <div class="card-header">
                <div class="col-sm-3">
                    <h4 class="card-title">Admited Patient List</h4>
                </div>
                <div class="col-sm-6 d-flex">
                    <select class="form-control form-control-sm" id="SearchCriteria">
                        <option value="">:: Search Criteria ::</option>
                        <option value="@Convert.ToInt32(SearchCriteria.Name)">@SearchCriteria.Name.ToString()</option>
                        <option value="@Convert.ToInt32(SearchCriteria.MobileNo)">@SearchCriteria.MobileNo.ToString()</option>
                        <option value="@Convert.ToInt32(SearchCriteria.UserName)">@SearchCriteria.UserName.ToString()</option>
                    </select>
                    <input class="form-control form-control-sm" placeholder="Search Text" id="SearchText" />
                    <button class="btn btn-primary btn-sm btn-last" onclick="loaddata()"><i class="fa fa-search"></i></button>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover table-sm" id="datagrid">
                            <thead class="text-nowrap">
                                <tr>
                                    <td>#</td>
                                    <td>Action</td>
                                    <td>Full Name</td>
                                    <td>User Name</td>
                                    <td>Email</td>
                                    <td>MobileNo</td>
                                    <td>Age</td>
                                    <td>Address</td>
                                    <td>City Name</td>
                                    <td>State Name</td>
                                    <td>Tehsil</td>
                                    <td>Gender</td>
                                    <td>DOB</td>
                                    <td>Blood Group</td>
                                    <td>Pulse Rate</td>
                                    <td>Refered Type</td>
                                    <td>Guardian Name</td>
                                    <td>Guardian MobileNo</td>
                                    <td>Relation With Patient</td>
                                    <td>Marital Status</td>
                                    <td>AdmissionDate</td>
                                    <td>DispatchDate</td>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="exampleModalCenter">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">Doctor Visit</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal">
                </button>
            </div>
            <div class="modal-body">
                <div class="row d-none" id="divDoctorVisit">
                    <div class="col-sm-3">
                        <label>Visit Time <span class="text-danger">*</span></label>
                        <input type="time" class="form-control form-control-sm" placeholder="Visit Time" id="txtVisitTime" />
                    </div>
                    <div class="col-sm-3">
                        <label>Visit Date <span class="text-danger">*</span></label>
                        <input type="date" class="form-control form-control-sm" placeholder="Visit Date" id="txtVisitDate" />
                    </div>
                    <div class="col-sm-3">
                        <label>Wight <span class="text-danger">*</span></label>
                        <input type="text" class="form-control form-control-sm" placeholder="Wight" id="txtWight" />
                    </div>
                    <div class="col-sm-3">
                        <label>Prescription File <span class="text-danger">*</span></label>
                        <input type="file" class="form-control form-control-sm" placeholder="Wight" id="File" />
                    </div>
                    <div class="col-sm-6">
                        <label>Diagnosis <span class="text-danger">*</span></label>
                        <textarea class="form-control form-control-sm" id="Diagnosis">

                        </textarea>
                    </div>
                    <div class="col-sm-6">
                        <label>Prescription <span class="text-danger">*</span></label>
                        <textarea class="form-control form-control-sm" id="Prescription">

                        </textarea>
                    </div>
                    <input type="hidden" id="hdnId"/>
                </div>
                
                <div class="row mt-2" id="data">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary light" onclick="saveDoctorVisit()">Save</button>
                <button type="button" class="btn btn-danger light" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            loaddata();
        });
        var loaddata = () => {
            let filter = {
                SearchText: $('#SearchText').val(),
                SearchCriteria: $('#SearchCriteria').val(),
            }
            $.post('/patient/GetAdmitedPatientList', filter).done((res) => {
                $('#datagrid tbody').html(res);
            }).fail((xhr) => {
                console.log(xhr);
                Swal.fire({
                    title: "Failed!!",
                    text: "Server Error!",
                    icon: "error"
                });
            });
        }
        var doctorVisit = (patientId) => {
            $('#title').text('Doctor Visit');
            $('#divDoctorVisit').removeClass('d-none');
            $('#hdnId').val(patientId);
            $.post('/patient/GetDoctorVisit', { patientId: patientId }).done((res) => {
                $('#data').empty().append(res);
            }).fail((xhr) => {
                console.log(xhr);
                Swal.fire({
                    title: "Failed!!",
                    text: "Server Error!",
                    icon: "error"
                });
            });
        }
        var wardDetail = (patientId) => {
            $('#title').text('Ward Details');
            $('#divDoctorVisit').addClass('d-none');
            $.post('/patient/GetPatientWards', { patientId: patientId }).done((res) => {
                $('#data').empty().append(res);
            }).fail((xhr) => {
                console.log(xhr);
                Swal.fire({
                    title: "Failed!!",
                    text: "Server Error!",
                    icon: "error"
                });
            });
        }
        var GetHistory = (patientId) => {
            $('#title').text('Medical History');
            $('#divDoctorVisit').addClass('d-none');
            $.post('/patient/GetHistory', { patientId: patientId }).done((res) => {
                $('#data').empty().append(res);
            }).fail((xhr) => {
                console.log(xhr);
                Swal.fire({
                    title: "Failed!!",
                    text: "Server Error!",
                    icon: "error"
                });
            });
        }
        var saveDoctorVisit = () => {
            let obj = {
                PatientId: $('#hdnId').val(),
                VisitTime: formatTimeToAMPM($('#txtVisitTime').val()),
                VisitDate: $('#txtVisitDate').val(),
                Diagnosis: $('#Diagnosis').val(),
                Prescription: $('#Prescription').val(),
                Wight: $('#Wight').val(),
            }
            let formData = new FormData();
            formData.append('jsonData', JSON.stringify(obj));
            formData.append('file', $('#File').prop('files')[0])
            $.ajax({
                url: '/Patient/SaveDoctorVisit',
                type: 'POST',
                data: formData,
                contentType: false,
                processData: false,
                success: function (response) {
                    Swal.fire({
                        title: response.success == true ? "Success" : "Failed",
                        text: response.message,
                        icon: response.success == true ? "success" : "error"
                    });
                    if (response.success) {
                        $('.btn-close').click();
                    }
                },
                error: function (error) {
                    console.error(error);
                    Swal.fire({
                        title: "Failed!",
                        text: "Server Error.",
                        icon: "error"
                    });
                }
            });
        }
        function formatTimeToAMPM(time) {
            var hours = parseInt(time.split(':')[0]);
            var minutes = time.split(':')[1];
            var ampm = hours >= 12 ? 'PM' : 'AM';
            hours = hours % 12;
            hours = hours ? hours : 12; // the hour '0' should be '12'
            var strTime = hours + ':' + minutes + ' ' + ampm;
            return strTime;
        }
    </script>
}