@using MultiHospitalHarmony.Extentions
@model List<AdmitedPatientList>
@{
    if (Model != null)
    {
        int count = 0;
        if (Model.Any())
        {
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td>@count</td>
                    <td>
                        <div class="btn-group mb-1">
                            <button class="btn btn-outline-dark btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown">
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="javacript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" onclick="doctorVisit('@item.Id')">Doctor Visit</a>
                                <a class="dropdown-item" href="javacript:void(0)" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" onclick="wardDetail('@item.Id')">Ward Details</a>
                            </div>
                        </div>
                    </td>
                    <td>@item.FullName</td>
                    <td>@item.UserName</td>
                    <td>@item.Email</td>
                    <td>@item.MobileNo</td>
                    <td>@item.Age</td>
                    <td>@item.Address</td>
                    <td>@item.StateName</td>
                    <td>@item.CityName</td>
                    <td>@item.Tehsil</td>
                    <td>@item.Gender</td>
                    <td>@item.DOB</td>
                    <td>@item.BloodGroup</td>
                    <td>@item.PulseRate</td>
                    <td>@item.ReferedType</td>
                    <td>@item.GuardianName</td>
                    <td>@item.GuardianMobile</td>
                    <td>@item.Relation_with_Patient</td>
                    <td>@item.Marital</td>
                    <td>@item.AdmissionDate</td>
                    <td>@item.DispatchDate</td>
                </tr>
            }
        }
        else
        {
            <tr class="text-center">
                <td colspan="23">
                    <img src="~/images/nodata.webp" />
                </td>
            </tr>
        }
    }
}